<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Online Sales Portal">
  <meta name="author" content="Animesh Jha, Nisarg Upadhyaya, Pranav Rajput">
  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
  {% block styles %}{% endblock %}
</head>

<body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">OSP</a>
    <h2 class="w-100 text-white px-2 my-0 text-center">{% block ptitle %}{% endblock %}</h2>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/logout">Sign out</a>
      </li>
    </ul>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/seller" id="nav-dashboard">
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/seller/upload_item" id="nav-uploaditem">
                Upload Item
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/seller/uploads" id="nav-uploads">
                Items On Sale
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/seller/buy_requests" id="nav-buyrequests">
                Buy Requests
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/seller/past_sales" id="nav-pastsales">
                Past Sales
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        {% block main %}{% endblock %}
      </main>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>

</html>