{% extends "seller/base.html" %}

{% block title %}Items On Sale{% endblock %}

{% block styles %}
<!-- page specific stylesheets here -->
{% endblock %}

{% block ptitle %}Items On Sale{% endblock %}

{% block main %}
<!-- main page content here -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
{% if category=="info" %}
<div class="mx-auto alert alert-success text-center mt-2 alert-dismissible fade show" role="alert"
    style="width: fit-content;">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="mx-auto alert alert-danger text-center mt-2 alert-dismissible fade show" role="alert"
    style="width: fit-content;">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
{% endwith %}

<div class="row g-2">
    {% for item in list_items %}
    <div class="col-3">
        <div class="card mt-2" style="width: 18rem; height: 35rem;">
            <img src="/image_item/{{item.uniqueid}}" class="card-img-top" alt="photo" style="width: 16rem; height:16rem">
            <div class="card-header">
                <h5 class="card-title mb-0">{{item.name}}</h5>
            </div>
            <div class="card-body overflow-auto">
                <p class="card-text">Category: {{item.category.name}}</p>
                <p class="card-text">Price: {{item.price}}</p>
                <p class="card-text">Info: {{item.info}}</p>
                <p class="card-text">Weight: {{item.weight}}</p>
                <p class="card-text">Company: {{item.company}}</p>
                <p class="card-text">Heavy: {{item.isheavy}}</p>
                <p class="card-text">Age: {{item.age}} year</p>
                <p class="card-text">City: {{item.city}}</p>
            </div>
            <form class="self-align-center card-footer" action="/seller/uploads" method="post">
                <div class="input-group form-inline">
                    <input type="text" name="id" value="{{item.uniqueid}}" hidden>
                    <button type="submit" class="btn btn-primary btn-sm">Remove</button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<!-- page specific scripts here -->
<script>
    $("#nav-uploads").addClass("active");
</script>
{% endblock %}