<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload item</title>
</head>

<body>

    Hi {{name}} Upload item here

    <div id="upload">
        counter=[[categories]]
        <button v-on:click="getCats()"> get cats?</button>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="{{ url_for('static', filename='js/uploadItem.js') }}"></script>
</body>
</html>