{% extends "seller/base.html" %}

{% block title %}Items On Sale{% endblock %}

{% block styles %}
<!-- page specific stylesheets here -->
{% endblock %}

{% block ptitle %}Items On Sale{% endblock %}

{% block main %}
<!-- main page content here -->
<div class="row g-2">
    {% for item in list_items %}
    <div class="col-3">
        <div class="card mt-2" style="width: 18rem; height: 35rem;">
            <img src="/image_item/{{item.uniqueid}}" class="card-img-top" alt="photo" style="width: 16rem; height:16rem">
            <div class="card-header">
                <h5 class="card-title mb-0">{{item.name}}</h5>
            </div>
            <div class="card-body overflow-auto">
                <p class="card-text">Category: {{item.category.name}}</p>
                <p class="card-text">Seller: {{item.seller.name}}</p>
                <p class="card-text">Price: {{item.price}}</p>
                <p class="card-text">Info: {{item.info}}</p>
                <p class="card-text">Weight: {{item.weight}}</p>
                <p class="card-text">Company: {{item.company}}</p>
                <p class="card-text">Heavy: {{item.isheavy}}</p>
                <p class="card-text">Age: {{item.age}} year</p>
                <p class="card-text">City: {{item.city}}</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary p-1 w-100 mb-1">Go somewhere</a>
                <a href="#" class="btn btn-primary p-1 w-100 mb-1">Go somewhere</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<!-- page specific scripts here -->
<script>
    $("#nav-uploads").addClass("active");
</script>
{% endblock %}