{% extends "buyer/base.html" %}

{% block title %}Item{% endblock %}

{% block styles %}
<!-- page specific stylesheets here -->
{% endblock %}

{% block ptitle %}Searched Items{% endblock %}

{% block main %}
{% for item in list_items %}
    <div class="mt-5 card">
        <div class="card-body">
            <h5 class="card-title" style="color: black;">Name: {{item.name}}</h5>
            <p class="card-text" style="color: gray;">Category: {{item.category.name}}</p>
            <p class="card-text" style="color: gray;">Seller: {{item.seller.name}}</p>
            <p class="card-text" style="color: gray;">Price: {{item.price}}</p>
            <p class="card-text" style="color: gray;">Info: {{item.info}}</p>
            <p class="card-text" style="color: gray;">Weight: {{item.weight}}</p>
            <p class="card-text" style="color: gray;">Company: {{item.company}}</p>
            <p class="card-text" style="color: gray;">Heavy: {{item.isheavy}}</p>
            <p class="card-text" style="color: gray;">Age: {{item.age}}</p>
            <p class="card-text" style="color: gray;">City: {{item.city}}</p>
            <img src="../image_item/{{item.uniqueid}}" alt="photo">

        </div>
    </div>
    {%endfor%}

{% endblock %}

{% block scripts %}
<!-- page specific scripts here -->
{% endblock %}
    